.leftmenu-section {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 8rem;
  background-color: #020203;
  align-items: center;
  justify-content: center;
}

.text-section {
  color: white;
  width: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  background: #ffffff;
  width: 4rem;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 15%;
}
