.leftmenu-section {
  display: flex;
  flex-direction: column;
  height: 45rem;
  width: 8rem;
  background-color: #020203;
  align-items: center;
  justify-content: center;
}

.text-section {
  color: white;
}

.icon-leftmenu {
  background: #ffffff;
  width: 4rem;
  padding: 1rem;
}
