.header-container {
  display: flex;
  height: 6rem;
  margin: 0;
  width: 100%;
  padding-right: 4rem;
  padding-left: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: #020203;
}

.menu-nav-container {
  width: 100%;
}

.menu-nav {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}

.logo-header {
  width: 4rem;
  border-radius: 100%;
  background-color: #ff0101;
}

.link-nav {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-style: normal;
}

.left-link-nav {
  padding-left: 1rem;
}

.firstLinkNav {
  color: #ff0101;
}

.link-nav:hover {
  color: #ff0101;
}
