.statscard {
  width: 258px;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.calorie-statscard {
  color: #74798c;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.result-statscard {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #282d30;
  line-height: 24px;
}

.icon-cheesburger,
.icon-apple,
.icon-chicken,
.icon-energy {
  width: 60px;
  height: 60px;
  border-radius: 15%;
  padding: 1.3rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: 6px;
}

.icon-cheesburger {
  background: rgba(253, 81, 129, 0.1);
}
.icon-energy {
  background: rgba(253, 81, 129, 0.15);
}
.icon-chicken {
  background: rgba(74, 184, 255, 0.1);
}
.icon-apple {
  background: rgba(251, 246, 229, 0.9);
}
